<%- include("partials/header.ejs") %>

<h1>Compose</h1>

<form action="/compose" method="POST">
    <p>Title</p>
    <textarea name="postTitle" cols="150" rows="1"></textarea>
    <p>Post</p>
    <textarea name="postBody" cols="150" rows="4"></textarea>
    <button type="submit" class = "compose-btn">Publish</button>
</form>

<%- include("partials/footer.ejs") %>